<article class="card card--{{partial.variant}}">
  <a href="{{post.url}}" class="card__link">
    {{#if post.featured_image}}
      <div class="card__media"><img src="{{post.featured_image}}" alt="" loading="lazy"></div>
    {{#else}}
      <div class="card__media card__media--ph" aria-hidden="true"></div>
    {{/if}}
    <div class="card__body">
      <div class="card__meta eyebrow">
        {{#for category in post.categories}}{{#if loop.first}}<span>{{category.name}}</span>{{/if}}{{/for}}
      </div>
      <h3 class="card__title">{{post.title}}</h3>
      {{#if partial.show_excerpt}}{{#if post.excerpt}}<p class="card__dek">{{post.excerpt}}</p>{{/if}}{{/if}}
      <div class="card__byline">
        {{#if post.author.display_name}}<span>By {{post.author.display_name}}</span>{{/if}}
        {{#if post.reading_time}}<span>· {{post.reading_time}}</span>{{/if}}
      </div>
    </div>
  </a>
</article>
